@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-title {
  font-family: 'Libre Baskerville', serif;
}

.font-body {
  font-family: 'Roboto', sans-serif;
}

.font-secondary {
  font-family: 'Noto Serif Display', serif;
}

